* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #001018;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.scrollTop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 50px;
  height: 50px;
  background: #fff url(../images/strelica.png) no-repeat;
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

body {
  min-height: 100vh;
}

.pocetna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/banner.jpg) no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  padding: 20px 100px;
  background-attachment: fixed;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .brend {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .menu a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 20px;
  padding: 0 10px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: color, background;
  transition-property: color, background;
}

header .menu a:hover {
  color: gainsboro;
  text-decoration: underline;
  -webkit-transition: .5s;
  transition: .5s;
}

header .btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.sticky {
  background: #001018;
  padding: 15px 40px;
}

.section-two {
  min-height: 100vh;
  background: #484848;
  padding: 20px 100px;
}

.section-two h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.section-two p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 30px 0;
}

@media (max-width: 1060px) {
  header .btn {
    display: block;
  }
  header .menu {
    position: fixed;
    background: #001018;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: right;
    transition-property: right;
  }
  header .menu.active {
    right: 0;
  }
  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }
  header .menu a {
    display: block;
    font-size: 24px;
    margin: 40px;
    padding: 0 15px;
  }
}

.prelaz {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF512F), color-stop(51%, #DD2476), to(#FF512F));
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
  position: absolute;
  top: 45%;
  left: 10%;
  text-decoration: none;
  margin: 10px;
  padding: 18px 45px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-size: 20px;
  -webkit-animation: na-gore 2.4s ease;
          animation: na-gore 2.4s ease;
}

.prelaz:hover {
  background-position: right center;
  color: #fff;
}

.animacija {
  position: absolute;
  top: 30%;
  left: 10%;
  color: rgba(255, 255, 255, 0.801);
  text-transform: uppercase;
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: na-gore 2s ease;
          animation: na-gore 2s ease;
}

@-webkit-keyframes na-gore {
  0% {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes na-gore {
  0% {
    -webkit-transform: translatey(500px);
            transform: translatey(500px);
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

.socialM {
  color: #fff;
  font-size: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.socialM i {
  margin: 0 3px;
}
/*# sourceMappingURL=sass.css.map */