@mixin apsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font{
    font-family: 'Ephesis', cursive;
}